@font-face {
    font-family: 'Gagalin';
    src: url('../../fonts/gagalinregular-webfont.woff2') format('woff2'),
         url('../../fonts/gagalinregular-webfont.woff') format('woff'),
         url('../../fonts/gagalinregular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('../../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../../fonts/lifehack_medium-webfont.woff') format('woff'),
         url('../../fonts/lifehack_medium-webfont.svg#lifehackmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('../../fonts/ubuntulight-webfont.woff2') format('woff2'),
         url('../../fonts/ubuntulight-webfont.woff') format('woff'),
         url('../../fonts/ubuntulight-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuRegular';
    src: url('../../fonts/ubunturegular-webfont.woff2') format('woff2'),
         url('../../fonts/ubunturegular-webfont.woff') format('woff'),
         url('../../fonts/ubunturegular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('../../fonts/ubuntumedium-webfont.woff2') format('woff2'),
         url('../../fonts/ubuntumedium-webfont.woff') format('woff'),
         url('../../fonts/ubuntumedium-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../../fonts/ubuntubold-webfont.woff2') format('woff2'),
         url('../../fonts/ubuntubold-webfont.woff') format('woff'),
         url('../../fonts/ubuntubold-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}